-- Verify the notifications table structure
DESCRIBE notifications;

-- Check existing notifications and their types
SELECT id, userId, requestId, type, message, isRead, createdAt 
FROM notifications 
ORDER BY createdAt DESC 
LIMIT 5;

-- Show the indexes on the notifications table
SHOW INDEX FROM notifications;
